meta(charset='utf-8')    
meta(http-equiv='X-UA-Compatible', content='IE=edge')   
meta(name='viewport', content='width=device-width, initial-scale=1')
// 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
title= title
if (article && article.seoKeywords)
 meta(name="keywords" content='#{article.seoKeywords}')
if (article && article.seoDescription)
 meta(name="description" content='#{article.seoDescription}')    
link(rel='icon', href = '/images/favicon.jpg')
link(href='/css/bootstrap.min.css', rel='stylesheet')     
link(href='/css/font-awesome.min.css', rel='stylesheet')     
link(href='/css/animation.css', rel='stylesheet')    
link(href='/css/pace-theme-barber-shop.css', rel='stylesheet')     
link(href='/css/main.css', rel='stylesheet')