section#navigation.navigation-section.page-section
	section.inner-section
		section.container
			div.row
				article.col-md-12.text-center
					div.navigation-container
						div.logo.pull-left
							a.logos(href="#home")
								img(height="60" src="#{config.headPicture}")
						div.navigation-right
							ul
								li
									a#home-linker.nav-active.scroll-link(href="/") 首页
								li
									a#about-linker.scroll-link(href="/articleList") 文章
								li
									a#team-linker.scroll-link(href="/collect") 文集
								li
									a#team-linker.scroll-link(href="#contact") 关于我
								if isMe
									li
										a#team-linker.scroll-link(href='/admin' title="管理页") 
											span.glyphicon.glyphicon-user