title= title
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
if (article && article.seoKeywords)
    meta(name="keywords" content='#{article.seoKeywords}')
if (article && article.seoDescription)
    meta(name="description" content='#{article.seoDescription}')
link(rel='icon', href = '/images/favicon.jpg')
link(rel='stylesheet',href='/css/bootstrap.css')
link(rel='stylesheet',href='/css/font-awesome.min.css')
link(rel='stylesheet',href='/css/slidingmenu.css')
link(rel='stylesheet',href='/css/main.css')
link(rel='stylesheet',href='/css/naz.responsive.css')