nav.navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand.logo(href='/') &#x6768;&#x5C0F;&#x4FA8;Blog
        |             
        #navbar.collapse.navbar-collapse.pull-right
          ul.nav.navbar-nav
            li.active
              a(href='/')
                i.fa.fa-home
                span &#x9996;&#x9875;
            li
              a(href='/collect')
                i.fa.fa-clipboard
                span 文集
            li
              a(href='/about')
                i.fa.fa-bullhorn
                span &#x5173;&#x4E8E;&#x6211;
            if isMe
                li
                    a(href='/admin' title="管理页")
                        i.fa.fa-user
                        span 管理员
                a.logout(href='/logout' title="退出") 退出