script(src='/js/modernizr.custom.js')
script(src='/js/jquery-1.10.1.min.js')
script(src='/js/home-slider.js')
script(src='/js/SmoothScroll.js')
script(src='/js/bootstrap.js')
script(src='/js/device.min.js')
script(src='/js/jquery.parallax.js')
script(src='/js/parallax-init.js')
script(src='/js/jquery.mixitup.js')
script(src='/js/waypoints.js')
script(src='/js/jquery.flexslider.js')
script(src='/js/jquery.mixitup.js')
script(src='/js/form-validation.js')
script(src='/js/main.js')
script(src='/js/owl.carousel.js')