script(src='/js/jquery-2.1.3.min.js')      
script(src='/js/bootstrap.min.js')              
script(src='/js/pace.min.js')
script(src='/js/manhuatoTop.1.0.js')
script(src='/js/myjs.js')
script(src='/js/elastic-columns.min.js')   	