nav#sm.menu
	div.sm-wrap
		i.icon-remove.menu-close
		p.site-name NAZ
		a.scroll-link(href="#home") Home
		a.scroll-link(href="#about") about
		a.scroll-link(href="#services") services
		a.scroll-link(href="#portfolio") portfolio
		a.scroll-link(href="#team") team
		a.scroll-link(href="#contact") contact
	div#sm-trigger
