.col-xs-12.col-sm-3.a-fadeinR
    .tag
      p
        a(href='') &#x6807;&#x7B7E;&#x4E91;
      |                     
      #tagscloud1.tagscloud
        each v, index in tags
          a(href="/tag/#{index}")= index + '(' + v + ')'               
    .tag
      p
        a(href='') &#x6587;&#x96C6;&#x4E91;
      |                     
      #tagscloud2.tagscloud
        each v, index in collects
          a(href="/collect/cid/#{index}")= index + '(' + v + ')' 