doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |     
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
    |     
    title &#x5173;&#x4E8E; &#x6211;
    |     
    link(rel='stylesheet', href='/about/style.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='/about/css/font-awesome.min.css', type='text/css', media='all')
  body.loading-process
    .loading
      .loading-circle
      |         
      .loading-avatar
        img(src='/about/images/avatar.jpg', alt='', width='100', height='100')
      |         
      .loading-info &#x6B63;&#x5728;&#x52AA;&#x529B;&#x52A0;&#x8F7D;&#x4E2D;...
    |     
    .section-header
      .section
        nav.nav(role='navigation')
          ul
            li.nav-about.fade.fade1
              a(href='#about') &#x5173;&#x4E8E;
            |                     
            li.nav-works.fade.fade4
              a(href='#works') &#x4F5C;&#x54C1;
            |                     
            li.fade.back-home
              a(href='#top') &#x9996;&#x9875;
            |                     
            li.nav-skill.fade.fade2
              a(href='#skill') &#x80FD;&#x529B;
            |                     
            li.nav-contact.fade.fade3
              a(href='#contact') &#x8054;&#x7CFB;
      |         
      .nav-bg
    |     
    .home-bg
      img(src='/about/images/home-bg.jpg', alt='', width='1000', height='667')
    |     
    .section-wrap.section-fristpage(data-slide='1')
      .section
        .section-content
          p.fade.fade1 Hi&#xFF0C;&#x6211;&#x662F;&#x6768;&#x5C0F;&#x4FA8;
          |                 
          p.fade.fade2 &#x6B22;&#x8FCE;&#x5149;&#x4E34;&#x6768;&#x5C0F;&#x4FA8;&#x535A;&#x5BA2;&#xFF01;
          |                 
          p.fade.fade3 &#x60F3;&#x4E86;&#x89E3;&#x66F4;&#x591A;&#xFF0C;&#x5F80;&#x4E0B;&#x6EDA;&#x52A8;&#x54E6; ^_^
        |             
        a.button2.scroll-tip.fade.fade4(data-slide='3', title='') &#x5411;&#x4E0B;&#x6EDA;&#x52A8;
    |     
    #about.section-wrap.section-about(data-slide='2', data-stellar-background-ratio='0.3')
      .section
        .about-content.clearfix.section-content
          .introli
            span.left_icon.fade.fade1
              i.icon-magic
            |                     
            span.right_content.fade.fade1 &#x6211;&#x662F;&#x4E00;&#x540D;&#x524D;&#x7AEF;&#x5DE5;&#x7A0B;&#x5E08;
          |                 
          .introli
            span.left_icon.fade.fade2
              i.icon-map-marker
            |                     
            span.right_content.fade.fade2 &#x76EE;&#x524D;&#x5C31;&#x804C;&#x4E2D;&#x79D1;&#x8F6F;
          |                 
          .introli
            span.left_icon
              i.icon-heart
            |                     
            span.right_content &#x70ED;&#x7231;&#x6392;&#x7403;&#xFF0C;&#x7AF9;&#x7B1B;
      |         
      a.button2.dark-button2.scroll-tip(style='background-position:0 -60px;', data-slide='3', title='')
    |     
    #works.section-wrap.section-works(data-slide='3')
      .section
        .works-content.section-content
          h1 &#x524D;&#x7AEF;&#x4F5C;&#x54C1;
          |                 
          .works-list.clearfix
            .works-item.first.fade.fade1
              a(href='javascript:void(0)', target='_blank')
                img(src='/about/images/works/ailv.png', alt='', width='300', height='180')
                |                             
                .work-info
                  h2 &#x7231;&#x9A74;&#x7F51;&#x9996;&#x9875;
                  |                                 
                  p
                    strong &#x5F00;&#x53D1;&#x65F6;&#x95F4;
                    | &#xFF1A;2015&#x5E74;3&#x6708;
                    |                                     
                    br
                    |                                     
                    strong &#x5DE5;&#x4F5C;&#x8BE6;&#x60C5;
                    | &#xFF1A;&#x9875;&#x9762;&#x8BBE;&#x8BA1;&#x53CA;&#x524D;&#x7AEF;&#x5236;&#x4F5C;&#x3002;
            |                     
            .works-item.fade.fade2
              a(href='javascript:void(0)', target='_blank')
                img(src='/about/images/works/lvyoushop.png', alt='', width='300', height='180')
                |                             
                .work-info
                  h2 &#x7231;&#x9A74;&#x5546;&#x57CE;
                  |                                 
                  p
                    strong &#x5F00;&#x53D1;&#x65F6;&#x95F4;
                    | &#xFF1A;2015&#x5E74;6&#x6708;
                    |                                     
                    br
                    |                                     
                    strong &#x5DE5;&#x4F5C;&#x8BE6;&#x60C5;
                    | &#xFF1A;&#x9875;&#x9762;&#x8BBE;&#x8BA1;&#x53CA;&#x524D;&#x7AEF;&#x5236;&#x4F5C;&#x3002;
            |                     
            .works-item.fade.fade3
              a(href='javascript:void(0)', target='_blank')
                img(src='/about/images/works/lvyouquan.png', alt='', width='300', height='180')
                |                             
                .work-info
                  h2 &#x9A74;&#x53CB;&#x5708;
                  |                                 
                  p
                    strong &#x5F00;&#x53D1;&#x65F6;&#x95F4;
                    | &#xFF1A;2015&#x5E74;8&#x6708;
                    |                                     
                    br
                    |                                     
                    strong &#x5DE5;&#x4F5C;&#x8BE6;&#x60C5;
                    | &#xFF1A;&#x9875;&#x9762;&#x8BBE;&#x8BA1;&#x53CA;&#x524D;&#x7AEF;&#x5236;&#x4F5C;&#x3002;
            |                     
            .works-item.first.fade.fade4
              a(href='javascript:void(0)', target='_blank')
                img(src='/about/images/works/dwbgs.png', alt='', width='300', height='180')
                |                             
                .work-info
                  h2 &#x515A;&#x59D4;&#x529E;&#x516C;&#x5BA4;
                  |                                 
                  p
                    strong &#x5F00;&#x53D1;&#x65F6;&#x95F4;
                    | &#xFF1A;2013&#x5E74;10&#x6708;
                    |                                     
                    br
                    |                                     
                    strong &#x5DE5;&#x4F5C;&#x8BE6;&#x60C5;
                    | &#xFF1A;&#x524D;&#x7AEF;&#x5236;&#x4F5C;&#x3002;
            |                     
            .works-item.fade.fade2
              a
                img(src='/about/images/works/blog.png', alt='', width='300', height='180')
                |                             
                .work-info
                  h2 &#x5728;&#x7EBF;&#x4E2A;&#x4EBA;&#x535A;&#x5BA2;&#x7CFB;&#x7EDF;
                  |                                 
                  p
                    strong &#x5F00;&#x53D1;&#x65F6;&#x95F4;
                    | &#xFF1A;2015&#x5E74;12&#x6708;
                    |                                     
                    br
                    |                                     
                    strong &#x5DE5;&#x4F5C;&#x8BE6;&#x60C5;
                    | &#xFF1A;&#x72EC;&#x7ACB;&#x5F00;&#x53D1;&#x4E0E;&#x5236;&#x4F5C;&#x3002;
        |             
        a.button2.scroll-tip.fade.fade4(data-slide='4', title='') &#x5411;&#x4E0B;&#x6EDA;&#x52A8;
    |     
    #skill.section-wrap.section-skill(data-slide='4')
      .section
        .skill-content.section-content
          h1 &#x76F8;&#x5173;&#x6280;&#x80FD;
          |                 
          ul
            li.fade.fade1 &#x719F;&#x7EC3;&#x638C;&#x63E1;&#x8BED;&#x4E49;&#x5316;&#x7684; HTML &#x548C;&#x5177;&#x6709;&#x517C;&#x5BB9;&#x6027;&#x7684; CSS &#x6A21;&#x5F0F;&#xFF0C;&#x719F;&#x7EC3;&#x624B;&#x5199;&#x7B26;&#x5408; W3C &#x6807;&#x51C6;&#x7684;&#x7ED3;&#x6784;&#x548C;&#x4EE3;&#x7801;&#x3002;
            |                     
            li.fade.fade3 &#x5BF9;&#x53EF;&#x7528;&#x6027;&#x3001;&#x53EF;&#x8BBF;&#x95EE;&#x6027;&#x3001;&#x524D;&#x7AEF;&#x6027;&#x80FD;&#x4F18;&#x5316;&#x3001;&#x6700;&#x4F18;&#x5B9E;&#x8DF5; &#x7B49;&#x6709;&#x4E00;&#x5B9A;&#x7684;&#x4E86;&#x89E3;&#x548C;&#x5B9E;&#x8DF5;&#x3002;
            |                     
            li.fade.fade2 &#x5BF9; HTML5 &#x548C; CSS3 &#x6709;&#x4E00;&#x5B9A;&#x4E86;&#x89E3;&#x3002;
            |                     
            li.fade.fade4 &#x719F;&#x7EC3;&#x638C;&#x63E1; SVN &#x3001;Git&#x7B49;&#x56E2;&#x961F;&#x534F;&#x4F5C;&#x5DE5;&#x5177;&#x3002;
            |                     
            li.fade.fade4 &#x719F;&#x7EC3;&#x638C;&#x63E1; jQuery&#xFF0C;&#x5B9E;&#x73B0;&#x65E5;&#x5E38;&#x9700;&#x8981;&#x7684;&#x4EA4;&#x4E92;&#x6548;&#x679C;&#x3002;
            |                     
            li.fade.fade3 &#x4E86;&#x89E3;Nodejs&#xFF0C;MySQl&#xFF0C;Mongodb&#xFF0C;&#x6709;&#x4E00;&#x5B9A; JSP &#x540E;&#x7AEF;&#x76F8;&#x5173;&#x77E5;&#x8BC6;&#x3002;
            |                     
            li.fade.fade2 &#x4E86;&#x89E3; Ajax &#x5DE5;&#x4F5C;&#x539F;&#x7406;&#x548C;&#x5B9E;&#x73B0;&#x65B9;&#x6CD5;&#x3002;
            |                     
            li.fade.fade2 &#x5BF9;&#x524D;&#x7AEF;&#x6784;&#x5EFA;&#x5DE5;&#x5177;grunt&#x6709;&#x4E00;&#x5B9A;&#x4E86;&#x89E3;&#x3002;
            |                     
            li.fade.fade1 &#x4E86;&#x89E3;&#x524D;&#x7AEF;&#x5F00;&#x53D1;&#x6846;&#x67B6;angularjs&#x7B49;&#x3002;
            |                     
            li.fade.fade2 &#x559C;&#x6B22;&#x63A5;&#x89E6;&#x65B0;&#x4E8B;&#x7269;&#xFF0C;&#x6709;&#x4E00;&#x5B9A;&#x7684;&#x81EA;&#x5B66;&#x80FD;&#x529B;&#x3002;
      |         
      a.button2.scroll-tip.fade.fade4(data-slide='5', title='') &#x5411;&#x4E0B;&#x6EDA;&#x52A8;
    |     
    #contact.section-wrap.section-contact(data-slide='5')
      .section
        .contact-content.clearfix.section-content
          h1 &#x8054;&#x7CFB;&#x672C;&#x4EBA;
          |                 
          .left
            .contact-ways.fade.fade1
              h2 &#x793E;&#x4EA4;&#x7F51;&#x7EDC;
              |                         
              ul
                li
                  | &#x90AE;&#x7BB1;&#xFF1A;
                  a(target='_blank', href='mailto:305672102@qq.com') 305672102@qq.com
                |                             
                li
                  | Q Q &#xFF1A;
                  a(target='_blank', href='http://wpa.qq.com/msgrd?v=3&uin=305672102&site=qq&menu=yes') 305672102
                |                             
                li
                  | &#x77E5;&#x4E4E;&#xFF1A;
                  a(target='_blank', href='https://www.zhihu.com/people/yang-xiao-qiao-88') @&#x6768;&#x5C0F;&#x4FA8;
                |                             
                li
                  | Github&#xFF1A;
                  a(target='_blank', href='https://github.com/xiaoqiao20150826') @xiaoqiao20150826
            |                     
            .contact-info.fade.fade2
              p &#x4E50;&#x610F;&#x4E0E;&#x5927;&#x5BB6;&#x4EA4;&#x6D41;&#x54E6;&#xFF01;
          |                 
          .right.fade.fade3
            h2 &#x9879;&#x76EE;&#x5916;&#x5305;
            |                     
            p &#x5982;&#x679C;&#x4F60;&#x6709;&#x524D;&#x7AEF;&#x76F8;&#x5173;&#x7684;&#x9700;&#x6C42;&#xFF0C;&#x53EF;&#x4EE5;&#x8054;&#x7CFB;&#x6211;&#x505A;&#x5916;&#x5305;&#xFF0C;&#x76EE;&#x524D;&#x6211;&#x4E3B;&#x8981;&#x505A;&#xFF1A;
            |                     
            ul
              li &#x7F51;&#x7AD9;&#x5E03;&#x5C40;&#x8BBE;&#x8BA1;&#x53CA;&#x5236;&#x4F5C;&#xFF0C;&#x7F51;&#x7AD9;&#x9875;&#x9762;&#x5236;&#x4F5C;&#x3002;
              |                         
              li &#x6839;&#x636E;&#x9700;&#x6C42;&#xFF0C;&#x5BF9;&#x7F51;&#x7AD9;&#x524D;&#x7AEF;&#x8FDB;&#x884C;&#x4FEE;&#x6539;&#x548C;&#x4F18;&#x5316;&#xFF0C;&#x6216;&#x8005;&#x8F6C;&#x54CD;&#x5E94;&#x5F0F;&#x5904;&#x7406;&#x3002;
              |                         
              li &#x4F01;&#x4E1A;&#x7F51;&#x7AD9;&#x5EFA;&#x8BBE;&#x53CA;&#x76F8;&#x5173;&#x529F;&#x80FD;&#x5F00;&#x53D1;&#x3002;
              |                         
              li &#x5BF9;&#x4E8E;&#x7F51;&#x7AD9;&#x5EFA;&#x8BBE;&#x9879;&#x76EE;&#xFF0C;&#x6211;&#x4E5F;&#x6709;&#x4E00;&#x4E9B;&#x540C;&#x884C;&#x670B;&#x53CB;&#x53EF;&#x4EE5;&#x63A8;&#x8350;&#xFF0C;&#x4E5F;&#x6B22;&#x8FCE;&#x54A8;&#x8BE2;&#xFF01;
            |                     
            p
              strong &#x5408;&#x4F5C;&#x6D41;&#x7A0B;
              | &#xFF1A;&#x6309;&#x7167;&#x5408;&#x4F5C;&#x8C08;&#x5B9A;&#x7684;&#x4EF7;&#x683C;&#xFF0C;&#x9884;&#x4ED8; 50% &#x7684;&#x9879;&#x76EE;&#x6B3E;&#xFF0C;&#x5F00;&#x59CB;&#x5DE5;&#x4F5C;&#x3002;&#x5B8C;&#x6210;&#x9A8C;&#x6536;&#x540E;&#xFF0C;&#x652F;&#x4ED8;&#x5C3E;&#x6B3E;&#x3002;
      |         
      a#gototops.button2.button2-2-top.scroll-tip(data-slide='1', href='#top', style='background-position: -60px 0;width:80px;height:80px;', title='')
      a(href='') &#x8FD4;&#x56DE;&#x535A;&#x5BA2;&#x9996;&#x9875;
    |     
    .overlay
    |     
    .state-indicator
    |     
    script(type='text/javascript', src='/about/js/jquery-1.9.1.min.js')
    |     
    script(src='/about/js/global.js')
    |     
    script(src='/about/js/waypoints.min.js')
    |     
    script(src='/about/js/js.js')
    |     
    script(src='/about/js/jquery.stellar.min.js')
