doctype html
html(lang='zh-CN')
  head
    include ./includes/head
    block css
  body
    .pace
    include ./includes/header
    .container.mt71
      .row
        block content
    include ./includes/footer
    include ./includes/js
    block js


