doctype html
html
    head
        include ./includes/head
        block cssjs
    body
        include ./includes/header
        div.container
            block content
        include ./includes/footer
        include ./includes/js


