doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
    title &#x6587;&#x7AE0;&#x9875;
    |     
    link(href='css/bootstrap.min.css', rel='stylesheet')
    |     
    link(href='css/main.css', rel='stylesheet')
    |     
    link(href='css/font-awesome.min.css', rel='stylesheet')
    |     
    link(href='css/animation.css', rel='stylesheet')
    |     
    link(href='css/pace-theme-barber-shop.css', rel='stylesheet')
  body
    .pace
    |     
    nav.navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand.logo(href='#') &#x6768;&#x5C0F;&#x4FA8;blog
        |             
        #navbar.collapse.navbar-collapse.pull-right
          ul.nav.navbar-nav
            li.active
              a(href='/')
                i.fa.fa-home
                span &#x9996;&#x9875;
            |                     
            li
              a(href='/about')
                i.fa.fa-bullhorn
                span &#x5173;&#x4E8E;&#x6211;
        // /.nav-collapse
      // /.container
    // /.navbar
    .container.mt71
      .row
        .col-xs-12.col-sm-9
          .row
            .article
              h2.article-title &#x8F6F;&#x4EF6;&#x5F00;&#x53D1;&#x67B6;&#x6784;&#x5206;&#x6790;
              |                         
              p.data
                span
                  i.fa.fa-eye
                  | &#x6D4F;&#x89C8;&#x91CF; 30
                span
                  i.fa.fa-comment
                  | &#x8BC4;&#x8BBA;&#x6570; 60
                |                             
                span
                  a(href='#')
                    i.fa.fa-tag
                    | HTML5
                |                             
                span
                  a(href='#')
                    i.fa.fa-columns
                    | &#x524D;&#x7AEF;&#x6280;&#x672F;
              |                         
              p.details
                | &#x73B0;&#x5728;&#x8F6F;&#x4EF6;&#x5F00;&#x53D1;&#x7684;&#x6574;&#x4F53;&#x67B6;&#x6784;&#x4E3B;&#x8981;&#x5206;&#x4E3A;B/S&#x67B6;&#x6784;&#x4E0E;C/S&#x67B6;&#x6784; B/S&#x7ED3;&#x6784;&#xFF08;Browser/Server&#xFF0C;&#x6D4F;&#x89C8;&#x5668;/&#x670D;&#x52A1;&#x5668;&#x6A21;&#x5F0F;&#xFF09;&#xFF0C;&#x5BA2;&#x6237;&#x673A;&#x4E0A;&#x53EA;&#x8981;&#x5B89;&#x88C5;&#x4E00;&#x4E2A;&#x6D4F;&#x89C8;&#x5668;&#xFF08;Browser&#x82F1; [&apos;bra&#x28A;z&#x259;]&#x7F8E; [&apos;bra&#x28A;z&#x25A;]&#xFF09;&#xFF0C;&#x5982;Netscape Navigator&#x6216;Internet Explorer&#xFF0C;&#x670D;&#x52A1;&#x5668;&#x5B89;&#x88C5;SQL Server&#x3001;Oracle&#x3001;MYSQL&#x7B49;&#x6570;&#x636E;&#x5E93;&#x3002;&#x6D4F;&#x89C8;&#x5668;&#x901A;&#x8FC7;Web Server &#x540C;&#x6570;&#x636E;&#x5E93;&#x8FDB;&#x884C;&#x6570;&#x636E;&#x4EA4;&#x4E92;&#x3002;
        |             
        .col-xs-12.col-sm-3.a-fadeinR
          .tag
            p &#x6807;&#x7B7E;&#x4E91;
            |                     
            #tagscloud1.tagscloud
              a(href='#') HTMl
              |                         
              a(href='#') Javascript
              |                         
              a(href='#') &#x5FC3;&#x60C5;
              |                         
              a(href='#') NodeJS
              |                         
              a(href='#') &#x6280;&#x672F;
              |                         
              a(href='#') &#x5B66;&#x4E60;
              |                         
              a(href='#') &#x76AE;&#x56CA;
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
              |                         
              a(href='#') HTMl
              |                         
              a(href='#') Javascript
              |                         
              a(href='#') &#x5FC3;&#x60C5;
              |                         
              a(href='#') NodeJS
              |                         
              a(href='#') &#x6280;&#x672F;
              |                         
              a(href='#') &#x5B66;&#x4E60;
              |                         
              a(href='#') &#x76AE;&#x56CA;
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
          |                 
          .tag
            p &#x6587;&#x96C6;&#x4E91;
            |                     
            #tagscloud2.tagscloud
              a(href='#') Link(1)
              |                         
              a(href='#') Link(2)
              |                         
              a(href='#') Link(3)
              |                         
              a(href='#') Link(4)
              |                         
              a(href='#') Link(5)
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
              |                         
              a(href='#') Link
    |     
    footer.blog-footer
      .container
        p &#x4F5C;&#x8005;&#xFF1A; &#x6768;&#x5C0F;&#x4FA8; 
    |     
    script(src='js/pace.min.js')
    |     
    script(src='js/tagscloud.js')
