doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    |     
    title &#x767B;&#x5F55;&#x9875;
    |     
    meta(name='description', content='')
    |     
    meta(name='keywords', content='')
    |     
    link(href='css/signin.css', rel='stylesheet')
    |     
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      form.form-signin
        h2.form-signin-heading &#x767B;&#x5F55;
        |             
        label.sr-only(for='inputEmail') &#x7528;&#x6237;&#x540D;
        |             
        input#inputEmail.form-control(type='email', placeholder='用户名', required='', autofocus='')
        |             
        label.sr-only(for='inputPassword') &#x5BC6;&#x7801;
        |             
        input#inputPassword.form-control(type='password', placeholder='密码', required='')
        |             
        .checkbox
          label
            input(type='checkbox', value='remember-me')
            |  &#x4FDD;&#x5B58;&#x5BC6;&#x7801;
        |             
        button.btn.btn-lg.btn-primary.btn-block(type='submit') &#x767B;&#x5F55;
