extends ../layout

block content
    each val in doc
        .col-xs-12.col-sm-9
            h3.text-center.blogmark
                a(href='/collect/cid/#{val.collect}')= val.collect
            .row
                .collectList 
                    each v,index in val.article
                            div.collect-article-title
                                =(index + 1) +'. ' 
                                a(href='/article/#{v.customURL}')= v.title